## Over deze opdrachten

* dit is Jupyter Notebook `python-sqlite-0.ipynb` - voor het aanmaken van de database.
* voor een inleiding over het gebruik van Jupyter Notebooks: [Inleiding Jupyter Notebook](Inleiding-Jupyter.ipynb)
* de hele reeks Python SQlite opdrachten:
    * [Python SQLite - init database](python-sqlite-0.ipynb) (om met een schone lei te beginnnen)
    * [Python SQLite - selectie en projectie](python-sqlite-1.ipynb)    
    * [Python SQLite - joins](python-sqlite-2.ipynb)
    * [Python SQLite - CRUD](python-sqlite-3.ipynb)
    * [Python SQLite - Schema](python-sqlite-4.ipynb)

## Aanmaken van de database

In de volgende opdrachten voer je allerlei queries uit op een database.
Je moeten dan eerst wel een database met inhoud hebben.
Met de onderstaande opdrachten maak je deze database.
Deze opdrachten hoef je maar één keer uit te voeren: de database blijft bestaan, met je veranderingen.
Je kunt deze opdrachten ook uitvoeren om opnieuw te beginnen, in een goed gedefinieerde toestand.

In [1]:
import sqlite3
db = sqlite3.connect('example.db')
cursor = db.cursor()

We maken de tabel(len) aan.
We verwijderen eerst een eventueel bestaande versie van de tabel(len):
we hebben dan een goed gedefinieerde toestand.

> Opmerking: er zijn kleine verschillen in de notatie van de constraints bij het aanmaken van een tabel; MySQL gebruikt bijvoorbeeld een andere notatie dan Oracle.

In [2]:
cursor.execute('''DROP TABLE IF EXISTS leden;''')
cursor.execute('''CREATE TABLE leden(
                    lidnr INTEGER PRIMARY KEY,
                    voornaam VARCHAR(255) NOT NULL,
                    achternaam VARCHAR(255) NOT NULL,
                    email VARCHAR(255) NOT NULL UNIQUE
                  );''')

We hebben een voorbeeld-inhoud van de tabel(len) in csv-bestanden.
Zo'n csv-bestand kun je gemakkelijk aanpassen in een teksteditor.
Voor het importeren van een csv-bestand gebruiken we een speciale SQLite-opdracht, via de shell.
(Een alternatief is om dit bestand te importeren via pandas.)

In [3]:
%%bash
sqlite3 example.db
.mode csv
.import leden.csv leden

Hieronder een voorbeeld van een SQL-opdracht die we rechtstreeks in SQLite uitvoeren.

In [4]:
%%bash
sqlite3 example.db
SELECT * FROM leden;

1|Hans|de Boer|hdebo@ziggo.nl
2|Marie|Verkerk|marie@verkerk.nl
3|Jantien|Gerards|jgerards@gmail.com

Eenzelfde opdracht, nu als onderdeel van een Python-programma:

In [5]:
cursor.execute('''SELECT * FROM leden;''')
for row in cursor:
    print(row)

(1, 'Hans', 'de Boer', 'hdebo@ziggo.nl')
(2, 'Marie', 'Verkerk', 'marie@verkerk.nl')
(3, 'Jantien', 'Gerards', 'jgerards@gmail.com')

We volgende hetzelfde patroon voor de tweede tabel: inschrijvingen.

In [6]:
cursor.execute('''DROP TABLE IF EXISTS inschrijvingen;''')
cursor.execute('''CREATE TABLE inschrijvingen(
                  inschrijfnr INTEGER, 
                  lidnr INTEGER,
                  datum VARCHAR(255) NOT NULL,
                  maaltijd VARCHAR(255),
                  PRIMARY KEY (inschrijfnr),
                  FOREIGN KEY (lidnr) REFERENCES leden (lidnr),
                  CONSTRAINT name UNIQUE (lidnr, datum)
                  );''')

In [7]:
%%bash
sqlite3 example.db
.mode csv
.import inschrijvingen.csv inschrijvingen

In [8]:
cursor.execute('''SELECT * FROM inschrijvingen;''')
for row in cursor:
    print(row)

(1, 1, '23-06-2019', 'maaltijd A')
(2, 1, '30-06-2019', 'maaltijd B')
(3, 2, '23-06-2019', 'geen')
(4, 3, '23-06-2019', 'maaltijd A')